<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{ title or metadata.title }}</title>
  <meta name="description" content="{{ description or metadata.description }}">

  <link rel="manifest" href="/manifest.json">
  <link rel="icon" sizes="192x192" type="image/png" href="/images/icons/icon-192x192.png">
  <meta name="theme-color" content="#2ecc71">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon" href="/images/icons/icon-72x72.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/icons/icon-152x152.png">
  <link rel="apple-touch-icon" sizes="192x192" href="/images/icons/icon-192x192.png">

  <style>
    {% set css %}
    {% include "_includes/css/bootstrap/1-resets.css" %}
    {% include "_includes/css/bootstrap/2-fonts.css" %}
    {% include "_includes/css/bootstrap/3-utilities.css" %}
    {% include "_includes/css/bootstrap/4-grid.css" %}
    {% include "_includes/css/bootstrap/5-forms.css" %}
    {% include "_includes/css/bootstrap/6-buttons.css" %}
    {% include "_includes/css/bootstrap/7-spacing.css" %}
    {% include "_includes/css/styles.css" %}
    {% endset %}
    {{ css | minifyCSS | safe }}
  </style>

</head>

<body>

<header>
  <div class="container">
    <div class="site-logo">
      <img src="/images/brewhouse-digital-logo.png" alt="Brewhouse Digital Logo" class="img-fluid">
    </div><!-- end site logo -->

    <div class="site-content">
      <p>We develop web applications with a strong focus on user experience and security.</p>
      <p><a href="#contact-us" class="btn btn-outline">Contact Us</a></p>
    </div><!-- end content -->
  </div><!-- end container -->
</header>

<main id="contact-us">
  <div class="container">
    <div class="contact-us-form">
      <h2 class="mb-5">Contact Us</h2>

      <form method="POST" name="brewhouse-digital-home-contact" data-netlify="true">
        <div class="row">
          <div class="col-lg-6 form-group mb-5">
            <label for="name">Name</label>
            <input type="text" class="form-control form-control-lg" id="name" name="name">
          </div><!-- end form group -->

          <div class="col-lg-6 form-group mb-5">
            <label for="email">Email</label>
            <input type="email" class="form-control form-control-lg" id="email" name="email">
          </div><!-- end form group -->
        </div><!-- end row -->

        <div class="form-group mb-5">
          <label for="description">Project Description</label>
          <textarea class="form-control form-control-lg" id="description" name="description"></textarea>
        </div><!-- end form group -->

        <div class="form-group mb-5 d-none">
          <label for="bees">Project Description</label>
          <input type="text" class="form-control form-control-lg" id="bees" name="bees">
        </div><!-- end form group -->

        <div class="text-center">
          <button type="submit" class="btn btn-success">Submit Form</button>
        </div>
      </form>
    </div><!-- end contact us form -->
  </div><!-- end container -->
</main>

<footer>&copy; Brewhouse Digital, LLC 2020</footer>
{#<header>
      <h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
    </header>

    <main>
      {{ content | safe }}
    </main>

    <footer></footer>#}
</body>
</html>
